name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-11, macos-ventura, [ubuntu-22.04 ARM64]]
    runs-on: [self-hosted, "${{ matrix.os }}"]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install ACL
        if: startsWith(matrix.os,'ubuntu')
        run: sudo apt-get -y install acl-dev
      - name: Code format check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
      - name: Clippy check
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
      - name: Build (without Iceoryx)
        run: cargo build --verbose
      - name: Build (with Iceoryx)
        if: ${{ ! startsWith(matrix.os,'window') }}
        run: cargo build --features iceoryx --verbose
      - name: Run tests (without Iceoryx)
        run: cargo test --verbose
